@font-face {
    font-family: hedvig;
    src: url("./Fonts/HedvigLettersSerif-Regular-VariableFont_opsz.ttf");
}

body {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.button {
    border: 1px solid;
    border-radius: 25%;
    padding: 20px;
    cursor: pointer;
    background-color: orange;
}

.button:hover,
.button:focus {
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.button:active {
    margin-top: 6px;
    transform: scale(0.98); 
}

h1 {
    font-size: 35px;
}

h4 {
    margin: 25px;
}

.container {
    /* display: block; */
    font-family: hedvig;
}

.fun-color {
    background: #e96443;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (min-width: 768px) {
    
}